<div id="csv" ng-controller="csvCtrl as csv">
  
  <h1>Directory Upload</h1>
  <div class="container">

    <div id="myDIV" class="header">
      <h2 style="margin:5px">Add a New Tag Name!</h2>
      <input type="text" id="myInput" placeholder="Title...">
      <button ng-click="newElement()" class="addBtn">Add</button>
    </div>
    <br>
    <br>
    <br>
    
    <div class="left">
      <div id="drag-elements">
        <li>Date</li>
        <li>Name</li>
        <li>Occupation</li>
        <li>Room</li>
        <li>Contact</li>
        <li>Email</li>
      </div>
  
      <div id="drop-target"></div>
    </div>
  </div>
  <div class="btn">
    <button ng-click="openUp()">&#43;</button><br>
    <button>&#128465;</button>
  </div>
  
  <div class="tagform" formCreate="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <input type="button" id="Submit" value="Submit">
  </div>


<div class="paste">
<br>
<br>
  <hr>
<br>
<br>
<p>Please enter your csv contents here</p>
<form id="getcontents">
    <textarea type='text' id="textinput"></textarea><br><br>
    <input type="button" id="csvcontents" value="Submit" ng-click="makeTable()"/>
  </form><br>
  <div id="tabletitle">
    <p>Here is your output in table form:</p>
  </div>
  <div id="output"></div> 
</div>
</div>